<!DOCTYPE html>
<html>
<head>
    <title>Formlita</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('3.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <style>
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            display: table;
            font-weight: 100;
            font-family: 'Lato';
        }

        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .content {
            text-align: center;
            display: inline-block;
        }

        .title {
            font-size: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <img src="{{asset('2.png')}}" style="width: 20%"/>
        {#<div class="tiztle">Uab „Formlita“</div>#}
        <div style="font-family: serif; font-size: 17px; color: #555555;">
            <p>Lokystos g. 15 Šilalės m. Lietuva</p>
            <p>    Įm. Kodas: 304483371</p>
            <p>    PVM mokėtojo kodas: LT100010788319</p>
            <p>    A.S : LT91 7300 0101 5138 7967</p>
            <p>    AB SWEDBANK bankas</p>
            <p>    Tel.: +370 652 66833</p>
            <p>    El.p.: Info@formlita.lt</p>
            <p>    www.Formlita.lt</p>
        </div>
    </div>
</div>
</body>
</html>

